@charset "UTF-8";
* {
	padding:0;
	margin:0;
	outline:0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { font-weight:normal; }

li, dd { margin-left:2%; }

.clear{ clear:both; height:0; font-size:0; line-height:0; display: block;}

.clear-left { clear: left; }

.clearfix{
	clear: both !important;
	float: none !important;
}

a img{ border:none; }

/*HTML5 resets*/
	article, aside, details, figcaption, figure, footer, header, menu, nav, section{
	display: block;
	margin: 0;
	padding: 0;
}