/*fonts var*/
$font-stack: 'Trex-Regular', sans-serif;
$regular: 'Trex-Regular', sans-serif;
$medium: 'Trex-Medium', sans-serif;
$bold: 'Trex-Bold', sans-serif;

/*
 * mixin
 */
@mixin border-radius($top, $left, $bottom, $right) {
  -webkit-border-radius: $top $left $bottom $right;
  -moz-border-radius: $top $left $bottom $right;
  -ms-border-radius: $top $left $bottom $right;
  border-radius: $top $left $bottom $right;
}
@mixin box-shadow($horizontal, $vertical, $blur, $spread, $color){
  -moz-box-shadow:    $horizontal $vertical $blur $spread $color;
  -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
  box-shadow:         $horizontal $vertical $blur $spread $color;
}
@mixin inset-box-shadow($horizontal, $vertical, $blur, $spread, $color){
  -webkit-box-shadow: inset $horizontal $vertical $blur $spread $color;
  -moz-box-shadow: inset $horizontal $vertical $blur $spread $color;
  box-shadow: inset $horizontal $vertical $blur $spread $color;
}
@mixin text-shadow($horizontal, $vertical, $blur, $color) {
  text-shadow: $horizontal $vertical $blur $color;
}
@mixin gradient($first, $second) {
  background: $first;
  background: -webkit-linear-gradient(top, $first, $second);
  background: -o-linear-gradient(top, $first, $second);
  background: -moz-linear-gradient(top, $first, $second);
  background: linear-gradient(top, $first, $second);
}
@mixin three-gradient($first, $second, $third) {
  background: $first; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,$first,$second,$third);
  background: -o-linear-gradient(left,$first,$second,$third);
  background: -moz-linear-gradient(left,$first,$second,$third);
  background: linear-gradient(to right, $first,$second,$third);
}
@mixin transform($rotate, $scale, $skew, $translate) {
  transform:  rotate($rotate) scale($scale) skew($skew) translate($translate);
  -webkit-transform:  rotate($rotate) scale($scale) skew($skew) translate($translate);
  -moz-transform: rotate($rotate) scale($scale) skew($skew) translate($translate);
  -o-transform:  rotate($rotate) scale($scale) skew($skew) translate($translate);
  -ms-transform:  rotate($rotate) scale($scale) skew($skew) translate($translate);
}
@mixin vertical-align($position: absolute) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin background-size($value) {
  -webkit-background-size: $value;
  -moz-background-size: $value;
  -o-background-size: $value;
  background-size: $value;
}