{{ define "main" -}}

<div class="entry-header center">
    <div class="container">
        <h1>{{ .Title }}</h1>
    </div>
</div>
<div class="entry-content container">
    <ul class="archive">
        {{ range $index, $element := .Data.Pages }}
        <li class="column_1-2{{if not (modBool $index 2)}} omega{{end}}">
            <article>
                <h3 class="center">
                    <a href="{{ .Permalink }}" title="Read {{ .Title }}" rel="bookmark">{{ .Title }}</a>
                </h3>
                <time class="post-date hidden" datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
                <p>
                    {{ .Summary }}
                    {{ if .Truncated }}
                    <span class="read-more-link">
                        <a href="{{ .RelPermalink }}">Read More…</a>
                    </span>
                    {{ end }}
                </p>
            </article>
        </li>
        {{- end }}
    </ul>
    <span class="clear"></span>
</div>

{{- end }}
