{{define "main" -}}

<header class="jumbotron">
    <div class="container">
        <div class="text-center">
            <h1>{{ .Title }}</h1>
            {{ if (isset .Params "subtitle") }}<smaller class="top light-font">{{ .Params.subtitle }}</smaller>{{ end }}
            <time class="post-date d-none" datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
        </div>
    </div>
</header>

<div class="container">
    {{ .Content }}
    <span class="clearfix"></span>
    {{ if .Params.include_partial }}
        {{ partial .Params.include_partial . }}
    {{ end }}
    <span class="clearfix"></span>
</div>

<!--
<script type="text/javascript">

function App() {
  return (
    <Button variant="contained" color="primary">
      Hello World
    </Button>
  );
}
ReactDOM.render(<App />, document.querySelector('#material'));
</script>
-->

{{- end }}
