{{ define "main" -}}

<header class="jumbotron">
    <div class="container">
        <div class="text-center">
            {{ if eq .Title "Prs" }}
                <h1>Press Releases</h1>
            {{ else }}
                <h1>{{ .Title }}</h1>
            {{ end }}
        </div>
    </div>
</header>

<div class="container">
    <ul class="row list">
        {{ range $index, $element := .Data.Pages }}
        <li class="col-sm-4">
            <article>
                <small>{{ .Date.Format "Monday, Jan 2, 2006" }}</small>
                <h3 class="center">
                    <a href="{{ .Permalink }}" title="Read {{ .Title }}" rel="bookmark">{{ .Title }}</a>
                </h3>
                <time class="post-date d-none" datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
                <p>

                    {{ if (isset .Params "subtitle") }}
                        {{ .Params.subtitle }}
                    {{ end }}

                    {{ if .Description }} {{ .Description }} {{ end }}

                    {{ if .Truncated }}
                    <span class="read-more-link">
                        <br>
                        <a href="{{ .RelPermalink }}">Read More…</a>
                    </span>
                    {{ end }}
                </p>
            </article>
        </li>
        {{- end }}
    </ul>
    <span class="clearfix"></span>
</div>

{{- end }}
