{{ define "main" -}}

<header class="jumbotron">
    <div class="container">
        <div class="text-center">
            <h1>{{ .Title }}</h1>
        </div>
    </div>
</header>

<div class="container">
    <ul class="row list">
        {{ range $index, $element := .Data.Pages }}
        <li class="col-sm">
            <article>
                <h3 class="center">
                    <a href="{{ .Permalink }}" title="Read {{ .Title }}" rel="bookmark">{{ .Title }}</a>
                </h3>
                <time class="post-date d-none" datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
                <p>
                    {{ .Summary }}
                    {{ if .Truncated }}
                    <span class="read-more-link">
                        <a href="{{ .RelPermalink }}">Read More…</a>
                    </span>
                    {{ end }}
                </p>
            </article>
        </li>
        {{- end }}
    </ul>
    <span class="clear"></span>
</div>

{{- end }}
