{{define "main" -}}

<header class="jumbotron">
    <div class="container">
        <div class="text-center">
            <h1>{{ .Title }}</h1>
            {{ if (isset .Params "subtitle") }}<smaller class="top light-font">{{ .Params.subtitle }}</smaller>{{ end }}
            <time class="post-date d-none" datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
        </div>
    </div>
</header>

<div class="container">
    <div id="piechart"></div>
</div>
<div class="container">
    {{ .Content }}
    <span class="clearfix"></span>
    {{ if .Params.include_partial }}
        {{ partial .Params.include_partial . }}
    {{ end }}
    <span class="clearfix"></span>
</div>

<script src="/js/moment-with-locales.min.js"></script>
<script src="/js/d3.min.js"></script>
<script src="/js/c3.min.js"></script>
<script src="/js/global.js"></script>
<script>
$(document).ready(function() {

    const c = {
        bindto: '#piechart',
        data : { 
            url: 'http://localhost:8000/api/v2/statistics/impressions', // il problema è che non interpreta json
            mimeType: 'json',
            xFormat: '%Y-%m-%dT%H:%M:%S.000Z',
            keys: { value : [ 'public', 'private', 'total' ], x: 'hour' },
            types: { 
                'public': 'bar',
                'private': 'bar',
                'total': 'scatter'
            },
            groups: [ [ 'public', 'private' ] ], 
            axes: {
                'public': 'y',
                'private': 'y',
                'total': 'y',
            } 
        }, 
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    format: '%H:%M',
                    culling: { max: 5 }
                },

            }
        } 
    };

    var piechart = c3.generate(c);

});
</script>

{{- end }}
