{{define "main" -}}

<header class="jumbotron">
    <div class="container">
        <div class="text-center">
            <h1>{{ .Title }}</h1>
            {{ if (isset .Params "subtitle") }}<smaller class="top light-font">{{ .Params.subtitle }}</smaller>{{ end }}
            <time class="post-date d-none" datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
        </div>
    </div>
</header>

<div class="container">
    {{ .Content }}
    <span class="clearfix"></span>
    {{ if .Params.include_partial }}
        {{ partial .Params.include_partial . }}
    {{ end }}
    <span class="clearfix"></span>
</div>

<link href="/css/c3.min.css" rel="stylesheet">
<link href="/css/c3-internal.css" rel="stylesheet">
<script src="/js/moment-with-locales.min.js"></script>
<script src="/js/d3.min.js"></script>
<script src="/js/c3.min.js"></script>
<script src="/js/global.js"></script>

<!-- include the site-script which hook at $(document).ready() to fire c3,
     this piece of code come from themes/trex/layouts/c3app/single.html and 
     look for a JS that should be in the 'static' folder -->
<script src="/js/{{site.Params.Subsite}}-c3-impact.js"></script>
<!-- {{site.Params.Subsite}} -->

{{- end }}
