/*  _components */

div.jumbotron-full {
  height: 100%;
  min-height: 100%;
  border-radius: 0px;
}

button.selectable {
  border-radius: 0px;
}


#reality-check {

  $facebook-border-color: #d9d9d9;
  $facebook-border-radius: 3px;

  background-color: #e9ebee;
  background-size: 850px 350px;

  div.container-c3 {
    min-height: 100px;
    background-color: $white;
    color: $black;
    border: 1px solid $facebook-border-color;
    border-radius: $facebook-border-radius;
  }

  div.masthead {
    width: 100%;
    background-color: $white;
    border: 1px solid #d9d9d9;

    div.avatar {
      width: 150px;
      height: 150px;
      display: inline-block;
      background-color: $white;
      background-image: url('/images/fb-reality-check.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 10% center;
      overflow: hidden;
    }
 
    h1 {
      display: inline-block;
      color: $gray-900;
      font-size: 48px;
    }
    
    div.actions {
      height: 60px;
      border-radius-bottom-left: 3px;
      border-radius-bottom-right: 3px;
    }
  }

  div.profile-filters {
    display: inline-block;

    h1 {
      font-size: 21px;
    }

    strong.username {
      font-size: 18px;
      color: $gray-600;
    }
  }

  div.graphs-feed {

    button.daily-nav {
        width: 100%;
        height: 100%;
        border: 0px;
        border-radius: 2px;
        cursor: pointer;
        background: $gray-100;
        color: $gray-600;

        &:hover {
            background: $gray-200;
            color: $gray-500;
        }
    }

    div.graph-day {

        &.graph-day-border {
            border-left: 1px solid $facebook-border-color;
        }

        span.seconds {
            font-size: 48px;
            line-height: 48px;
        }

        span.posts {
            font-size: 30px;
            line-height: 30px;
        }

        div.daily-pie {
            max-height: 150px;
        }

        .c3-chart-arc path {
            stroke: $facebook-border-color;
        }

    }

    div.feed-item,
    div.stats-item {
      background-color: $white;
      color: #1c1e21;
      border: 1px solid $facebook-border-color;
      border-radius: $facebook-border-radius;
    }

  }

  div.list-group {
    button.list-group-item {
      background: transparent;
      padding: 10px 15px;

      &:hover {
        cursor: pointer;
        color: $black;
      }

      &.active {
        border: 1px solid $gray-300;
        border-radius: 3px;
        background-color: $white;
        color: $black;
      }
    }
  }

}
