/*  _facebook */

#reality-check {

  $facebook-border-color: #d9d9d9;
  $facebook-border-radius: 3px;

  background-color: #e9ebee;
  background-size: 850px 350px;

  div.container-fb {
    padding: 0;
    margin: 0;
    min-height: 100px;
    background-color: $white;
    color: $black;
    border: 1px solid $facebook-border-color;
    border-radius: $facebook-border-radius;
  }

  div.masthead {
    padding: 0;
    margin: 0;
    border-radius: $facebook-border-radius;
    background-color: $white;
    border: 1px solid $facebook-border-color;

    div.avatar {
      width: 115px;
      height: 115px;
      display: inline-block;
      background-color: $white;
      background-image: url('/images/fb-reality-check.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 10% center;
      overflow: hidden;
    }
 
    h1 {
      display: inline-block;
      color: $gray-900;
      font-size: 48px;
      line-height: 48px;
      margin-bottom: .5rem;
    }  
  }

  div.profile {
    h1 {
      text-transform: capitalize; 

      &:before {
        display: block;
        width: 60%;
        background: $gray-300;
      }
    }
  }

  ul.nav-tabs {

    .nav-link {
      &.active {
        background: $white;
      }
    }

    .nav-item {
      margin-bottom: -2px;

      &.show {
        .nav-link {
          background: $white;
          border-color: $white;
        }
      }
    }
  }

  div.tab-content {
    background: $white;
    border: 1px solid $facebook-border-color;
    border-radius-bottom-right: $facebook-border-radius;
  }

  div.graph-day {

    &.graph-day-border {
        border-left: 1px solid $facebook-border-color;
    }

    span.seconds {
        font-size: 48px;
        line-height: 48px;
    }

    span.posts {
        font-size: 30px;
        line-height: 30px;
    }

    div.daily-pie {
        max-height: 150px;
    }

    .c3-chart-arc path {
        stroke: $facebook-border-color;
    }

  }

    div.daily-topic-count {
        font-size: 36px;
    }

    div.feed-item,
    div.stats-item {
      background-color: $white;
      color: #1c1e21;
      border: 1px solid $facebook-border-color;
      border-radius: $facebook-border-radius;
    }

  span.topic-count {
    padding: 4px 8px;
    font-size: 11px;
    border-radius: ($border-radius * 3);
    text-align: center;

    &.num-1 { background-color: $gray-200; }
    &.num-2 { background-color: lighten($yellow, 25%); }
    &.num-3 { background-color: $yellow; }
    &.num-4 { background-color: $orange; }
    &.num-5 { background-color: $red; color: $white; }
    &.num-6 { background-color: $red; color: $white; }
    &.num-7 { background-color: $red; color: $white; }
  }

}
