@import "variables";
@import "font";
@import "bootstrap/bootstrap";
@import "bootstrap_customization";
@import "typography";
@import "mixins";
@import "icons";

$navbar-top-height: 85px;
$fbook-blue: #3b5898;
$ytube-red: #D9230F;


body {
    padding-top: $navbar-top-height;

    &.default {

        a {
            color: $primary;
        }

        .navbar-top {
            @include trex-navbar(#1b1b1b, $white, $white, $white);
        }

        .jumbotron-home {
            @include trex-jumbotron(#1b1b1b, $white, true)
        }
        .navbar-nav {
          background-color: $black;
        }
        .navbar-toggler-icon {
          background: transparent url($icon-navbar-toggler-white) no-repeat;
          background-size: contain;
        }

    }

    &.facebook {

        .btn-facebook {
            background-color: $fbook-blue;
            color: $white;
        }
       .highlight {
          background-color: $fbook-blue;
        }
        .highlight.secondary {
          background-color: $primary !important;
          color: $white;
        }
        a {
            color: $fbook-blue;
        }

        .navbar-top {
            @include trex-navbar($fbook-blue, $white, $white, $white);
        }

        .jumbotron-home {
            @include trex-jumbotron($fbook-blue, $white, false);
        }

        .jumbotron-full {
            @include trex-jumbotron($fbook-blue, $white, false);
        }

        .navbar-nav {
          background-color: $fbook-blue;
        }

        .nav-pills {
            .nav-link {
                &.active {
                    background-color: $fbook-blue;
                }
            }
        }

        footer {
          border-color: $fbook-blue;
        }

        .navbar-toggler-icon {
          background: transparent url($icon-navbar-toggler-white) no-repeat;
          background-size: contain;
        }

    }

    &.youtube {

        a {
            color: $ytube-red;
        }
        .highlight {
          background-color: $ytube-red;
          color: $white;
          font-family: $medium;
        }
        .highlight.secondary {
          background-color: whitesmoke !important;
          color: $black;
        }
        .navbar-top {
            @include trex-navbar($white, $black, $red, $black);
        }

        .jumbotron-home {
            @include trex-jumbotron($white, $black, false);
        }

        .navbar-nav {
          background-color: $white;
        }

        footer {
          border-color: $ytube-red;
        }
    }

    &.pornhub {
        a {
          color: $orange;
        }
        .highlight.secondary {
          background-color: $black !important;
          color: $orange;
        }
        .highlight {
          background-color: $orange;
        }
        footer {
          border-color: $orange;
        }
        .navbar-nav {
          background-color: $black;
        }
        .jumbotron-home {
          background-color: $black;
          color: $orange;
        }

      .navbar-top {
        @include trex-navbar($black, $white, $black, $black);
      }
    }

}

/* Main Navbar */
.navbar {
    border: 0;
    box-shadow: 0 0 0;
    height: 85px;

    button.navbar-toggler {
        border-radius: 2px;
        background-color: transparent;

        span.navbar-toggler-icon {
           color: $black;
        }
    }

    .navbar-brand {
        font-family: 'Trex-Bold';

        img {
            height: 48px;
            display: inline-block;
        }
    }
}


div.jumbotron-home {
    border-radius: 0;
    min-height: 500px;

    h1 {
        width: 70%;
        font-weight: bold;
    }

    small {
        text-transform: uppercase;
        color: #e9e9e9;
    }
}

/* Home - Featured Boxes */
div.featured-box {
    position: relative;
    top: -10rem;
    padding: 2rem;
    margin: 0 15px 2rem 15px;
    background-color: $white;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    a.image {
        display: block;
        text-indent: -99999px;
        background-color: #d9d9d9;
        width: 100%;
        text-align: center;
        height: 15rem;
        margin-bottom: 1.5rem;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    a.text {
        text-decoration: none;
        font-size: 21px;
        font-family: "Trex-Bold";
        margin-bottom: 0;

        &:hover {
            text-decoration: underline;
        }
    }
}


.dropdown-menu {
  right: 0;
  line-height: 30px;
}

.navbar-nav {
  padding: 10px;
}

.navbar-toggler-icon {
  background: transparent url($icon-navbar-toggler) no-repeat;
  background-size: contain;
}

.icon-big {
  display: inline-block;
  margin: 10px 0;
  background-size: contain !important;
  width: 80px;
  height: 80px;
}

.firefox-icon {
  background: transparent url($icon-firefox) no-repeat;

}
.chrome-icon {
  background: transparent url($icon-chrome) no-repeat;
}

#colophon p.logo {
  margin-bottom: 20px;
}
#colophon .logo a {
  width: 60px;
  height: 60px;
  display: block;
  text-indent: -99999px;
  margin: 0 10px 0 0;
  float: left;
  padding: 5px 0 0 0;
  background: transparent url($icon-colophon-logo) no-repeat;
  background-size: 65px;
  background-position-y: center;
}
#colophon small {
  margin-top: 45px;
  display: inline-block;
}
#colophon .main-navigation a {
  padding: 0;
  margin: 10px 0;
  line-height: 30px;
  color: $black !important;
  display: inline-block;
  text-decoration: none;
}

.main-navigation li {
  list-style: none;
  display: inline-block;
  margin: 5px 15px 5px;
  text-align: left;
}

footer {
    margin-top: 4.5rem;
    padding: 2.5rem 0;
    color: $black;
    background-color: $gray-200;
    border-top: 40px solid $primary;

    a {
        color: $primary !important;
    }
}

ul.list li {
  list-style: none;
  margin-left: 0;
}

.notfound-icon {
  width: 100%;
  height: auto;
  min-height: 200px;
  max-width: 320px;
  background: transparent url($icon-notfound) no-repeat;
  text-indent: -99999px;
}

.icon-info-circle {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-size: 14px;
  background-image: url($icon-info-circle);
  background-repeat: no-repeat;
  opacity: 25%;
  filter: alpha(opacity=25);
}

.resource {
  background-color: $white;
  margin: 30px 0;
  border: solid 1px $gray-200;
}
.resource-header {
  padding: 15px 20px 10px 20px;
  background-color: $gray-100;
  border-bottom: none;
}
.resource-body {
  padding: 0 20px 10px 20px;
  word-break: break-all;
}
.resource-header .badge {
  font-size: 13px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.resource-header a {
  color: $black !important;
  text-decoration: underline;
}
.resource .kind {
  display: inline-block;
  float: left;
  height: 27px;
  width: 35px;

}
.resource .kind.paper,
.resource .kind.publication,
.resource .kind.article {
  background: transparent url($icon-publication) no-repeat;
}
.resource .kind.event {
  background: transparent url($icon-event) no-repeat;
}
.resource .kind.link {
  background: transparent url($icon-link) no-repeat;
}
.resource .kind.video {
  background: transparent url($icon-video) no-repeat;
}


@import "components";
