
Our Facebook page

<a href="https://www.facebook.com/personalizationalgorithm">
    Personalisation Algorithms
</a>. Are you Surprised? Afterall, this is where the adopters are...


Telegram bot:

<a href="https://t.me/fbTREXupdates">fbTREX updates</a>

The issue trackers:

<a href="https://github.com/tracking-exposed/web-extension/issues">browser extension</a>
<a href="https://github.com/tracking-exposed/facebook/issues">backend</a>

Send an e-mail support﹫tracking・exposed

Mattermost hosted by Security Without Border

<a href="https://chat.securitywithoutborders.org/community/channels/trackingexposed">
    Channel #trackingexposed
</a>
