Project leader of Tracking Exposed is <a href="https://twitter.com/_vecna">Claudio Agosti</a>.

Chat with us on Mattermost, (hosted by Security Without Border): 
<a href="https://chat.securitywithoutborders.org/community/channels/trackingexposed">
    Channel #trackingexposed
</a>

Our Facebook community experiment is 
<a href="https://www.facebook.com/personalizationalgorithm">
    Personalisation Algorithms
</a>. (Surprised? Afterall, this is where the adopters of fbTREX should be)

Experimental Telegram bot:
<a href="https://t.me/fbTREXupdates">fbTREX updates</a>

The email for non-personal inquiry is <b>support at tracking dot exposed</b>
