<footer id="colophon">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="https://tracking.exposed" title="Tracking Exposed">
                    {{ if eq site.Params.subsite "pornhub" }}
                    <!-- pornhub is the only site so far with dark background -->
                    <img src="/images/header-logo-default.svg" width="100%"/>
                    {{ else }}
                    <img src="/images/header-logo-default-black.svg" width="100%"/>
                    {{ end }}
                </a>
            </div>
            <div class="col-9">
                {{- partial "footer-menu.html" . -}}
            </div>
        </div>
        <br>
        <span class="clearfix"></span>
    </div>
</footer>
