<footer id="colophon">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="https://tracking.exposed" title="Tracking Exposed">
                    <img src="/images/header-logo-default-black.svg" width="100%"/>
                </a>
            </div>
            <div class="col-9">
                {{- partial "footer-menu.html" . -}}
            </div>
        </div>
        <br>
        <span class="clearfix"></span>
    </div>
</footer>
