<h2 class="mb-1 mt-5 text-center">
    Install Our Browser Extension
</h2>
<div class="row mb-2">
    <div class="col-12">
        <p class="text-muted text-center">
            <em>Currently our extension only works on Facebook Tracking Exposed</em>
        </p>
    </div>
</div>
<div class="row mb-5">
    <div class="col-6 text-center">
        <a target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/facebook-tracking-exposed/">
           <div class="icon-big firefox-icon"></div><br />
            <b>Download the Firefox extension</b>
        </a>
    </div>
    <div class="col-6 text-center">
        <a target="_blank" href="https://chrome.google.com/webstore/detail/facebooktrackingexposed/fnknflppefckhjhecbfigfhlcbmcnmmi">
            <div class="icon-big chrome-icon"></div><br />
            <b>Download the Chrome extension</b>
        </a>
    </div>
</div>

