{{ define "main" -}}
<div class="jumbotron {{ .Site.Params.Subsite }} ">
    <div class="container">
        <small>Our Vision</small>
        <h1 class="display-4 font-weight-bold">
            {{ site.Params.Tagline }}
        </h1>
    </div>
</div>

<div class="container">
    {{ range .Site.Menus.featured }}
    <div class="featured-box">
        <a class="nav-link" href="{{ .URL }}">
            {{ .Name }}
        </a>
    </div>
    {{ end }}
</div>

<div class="container">
    {{ .Content }}
</div>

<div class="container">
    {{- partial "get-browser-extension.html" . -}}
</div>

{{ if eq site.Params.Subsite "default" }}
<div class="container">
    <h2>Recent News</h2>
    <ul class="list-group list-group-flush">
        {{ range first 6 (.Data.Pages) }}
        <li>
            <article>
                <h3 class="center">
                    <a href="{{ .Permalink }}" title="Read {{ .Title }}" rel="bookmark">{{ .Title }}</a>
                </h3>
                <time class="post-date" datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>
                    {{ .Date.Format "Mon, Jan 2, 2006" }}
                </time>
                <p>
                    {{ .Summary }}
                    {{ if .Truncated }}
                    <span class="read-more-link">
                        <a href="{{ .RelPermalink }}">Read More…</a>
                    </span>
                    {{ end }}
                </p>
            </article>
        </li>
        {{- end }}
    </ul>
    <span class="clear"></span>
</div>
{{ end }}
{{- end }}
