{{ define "main" -}}
<div class="jumbotron jumbotron-home">
    <div class="container">
        {{ if eq site.Params.ourvision "display" }}
            <small>Our Vision</small>
        {{ end }}
        <h1 class="display-4 font-weight-bold">
            {{ site.Params.Tagline }}
        </h1>
    </div>
</div>

<div class="container core">
    <div class="row">
        <div class="featured-ph-box col-sm">
            <a class="image"
                href="/preview"
                style="background-image: url(/images/pov.svg)">
            </a>
            <span>
                paper & video
            </span>
            <br>
            <a class="text" href="/the-platformization-of-gender">
                The Platformization of Gender and Sexual Identities: An Algorithmic Analysis of Pornhub
            </a>
            <p class="mb-0 mt-2">
                Read what we wrote in a transdisciplinary collaboration with University of Milan.
            </p>
        </div>

        <div class="featured-ph-box col-sm">
            <a class="image"
                href="/preview"
                style="background-image: url(/images/compare.svg)">
            </a>
            <span>
                slides
            </span>
            <br>
            <a class="text" href="/paper">
                Collaborative observation: #potest1 methodology
            </a>
            <p class="mb-0 mt-2">
                we decided to compare one video uploaded 11 years ago with a 24 hours old one
            </p>
        </div>

        <div class="featured-ph-box col-sm">
            <a class="image"
                href="/preview"
                style="background-image: url(/images/algorithmdom.svg)">
            </a>
            <span>
                data activism
            </span>
            <br>
            <a class="text" href="/paper">
                Join the project
            </a>
            <p class="mb-0 mt-2">
                submit an idea for your research!
            </p>
        </div>
    </div>

            <div> {{ .Content }} </div>

</div>

{{- end }}
