{{ define "main" -}}
<div class="jumbotron jumbotron-home">
    <div class="container">
        {{ if eq site.Params.ourvision "display" }}
            <small>Our Vision</small>
        {{ end }}
        <h1 class="display-4 font-weight-bold">
            {{ site.Params.Tagline }}
        </h1>
    </div>
</div>

<div class="container core">
    <div class="row">
        <div class="featured-ph-box col-sm">
            <a class="image"
                href="/preview"
                style="background-image: url(/images/algorithmdom.svg)">
            </a>
            <span>
                qualcosina
            </span>
            <br>
            <a class="text" href="/the-platformization-of-gender">
                The Platformization of Gender and Sexual Identities: An Algorithmic Analysis of Pornhub
            </a>
            <p class="mb-0">
                sottititolo
            </p>
        </div>

        <div class="featured-ph-box col-sm">
            <a class="image"
                href="/preview"
                style="background-image: url(/images/algorithmdom.svg)">
            </a>
            <span>
                qualcosina
            </span>
            <br>
            <a class="text" href="/paper">
                clickabile
            </a>
            <p class="mb-0">
                sottititolo
            </p>
        </div>

        <div class="featured-ph-box col-sm">
            <a class="image"
                href="/preview"
                style="background-image: url(/images/algorithmdom.svg)">
            </a>
            <span>
                qualcosina
            </span>
            <br>
            <a class="text" href="/paper">
                clickabile
            </a>
            <p class="mb-0">
                sottititolo
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 main-div"> {{ .Content }} </div>
            <div class="col-3"></div>
        </div>
    </div> 
</div>

{{- end }}
