
<h3>
Press Contact info
</h3>

<p>
Tracking.Exposed is a multidisciplinary research team <a href="/publications">active since 2016</a> and in 2021+ was funded by the European Commission, Mozilla and Reset.Tech. 
</p>

<p>
Research methodology or further explanation available on request.
</p>

<h4 class="email--hidden">
    For interview or conference (click to get email)
</h4>

<script>
    $(".email--hidden").click(function(e) {
        e.target.textContent = "info" + "@" + "tracking" +
            "." + "exposed";
    })
</script>