<div class="row entry">
  <h3 class="mb-2">{{ .Get "title" }}</h3>
  {{ $kind := .Get "type" }}
  {{ if eq $kind "left" }}
    <div class="col-sm-4 position-relative">
      <p class="mt-4 mb-4">
        {{ .Get "text"}}
      </p>
    </div>
    <div class="col-sm-8">
      <figure>
        <img width="100%" src={{ .Get "picture" }}>
      </figure>
    </div>
  {{ else }}
    <div class="col-sm-8">
      <figure>
        <img width="100%" src={{ .Get "picture" }}>
      </figure>
    </div>
    <div class="col-sm-4 position-relative">
      <p class="mt-4 mb-4">
        {{ .Get "text"}}
      </p>
    </div>
  {{ end }}
</div>
<div class="row col-sm-8 mb-4 text-center {{ if eq $kind "left" }}float-right{{ end }}">
  <img width="100%" src="{{ .Get "legend-image-url" }}" />
</div>
<span class="clear"></span>
