<div class="row">
  {{ $kind := .Get "type" }}
  {{ $link := .Get "link" }}

  {{ if eq $kind "left" }}
    <div class="col-sm-6"  style="margin: auto 0;">
      <h2 class="text-right m-0">
        {{ .Get "title"}}
      </h2>
      <p> {{ .Get "content" }} </p>
    </div>
    <div class="col-sm-6 text-center" style="margin: auto 0;">
      <figure>
        <img width="100%" src={{ .Get "picture" }}>
        {{ if $link }}
          <figcaption class="mt-2 mb-2 paragraph">
            <small class="text-center">
              Via: <a href='{{ .Get "link" }}' target=_blank>{{ .Get "description" }}</a> {{ .Get "credit" }}
            </small>
          </figcaption>
        {{ end }}
      </figure>
    </div>
  {{ else }}
    <div class="col-sm-6 text-center" style="margin: auto 0;">
      <figure>
        <img width="100%" src={{ .Get "picture" }}>
        {{ if $link }}
          <figcaption class="mt-2 mb-2 paragraph">
            <small class="text-center">
              Via: <a href='{{ .Get "link" }}' target=_blank>{{ .Get "description" }}</a> {{ .Get "credit" }}
            </small>
          </figcaption>
        {{ end }}
      </figure>
    </div>
    <div class="col-sm-6"  style="margin: auto 0;">
      <h2 class="m-0">
        {{ .Get "title"}}
      </h2>
      <p> {{ .Get "content" }} </p>
    </div>
  {{ end }}
</div>
