<h2 class="mb-1 mt-5 text-center">
    Get the Event liberation browser extension
</h2>
<div class="row mb-5">
    <div class="col-6 text-center">
        <a href="https://addons.mozilla.org/en-US/firefox/addon/librevent/" target="_blank">
           <div class="icon-big firefox-icon"></div><br />
        </a>
        <b>for Firefox browser</b>
    </div>
    <div class="col-6 text-center">
        <a target="_blank" href="https://chrome.google.com/webstore/detail/librevent/kjklnndemgmhlogoigglkpkaklenommj">
            <div class="icon-big chrome-icon"></div><br />
        </a>
        <b>for Chrome, or <a href="https://brave.com" target=_blank>Brave</a>.
    </div>
</div>

<!-- style="-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);cursor:not-allowed"> -->
