<h2 class="mb-1 mt-5 text-center">
    Install pornhub.tracking.exposed browser extension
</h2>
<div class="row mb-5">
    <div class="col-6 text-center">
        <a href="https://addons.mozilla.org/en-US/firefox/addon/adult-industry-algorithms/" target="_blank">
           <div class="icon-big firefox-icon"></div><br />
        </a>
        <b>for Firefox browser</b> — which we suggest!
    </div>
    <div class="col-6 text-center"
        style="-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);cursor:not-allowed">
        <a target="_blank" href="https://chrome.google.com/webstore/detail/potrex/opdgglojgcnjmpncchhfanbojjjopnnk">
            <div class="icon-big chrome-icon"></div><br />
        </a>
        <b>for Chrome or <a href="https://brave.com" target=_blank>Brave</a> — </b>OPS! It's temporarly blocked by the <a href="https://pornhub.tracking.exposed/potest/announcement-1">google</a> monopoly.
    </div>
</div>
