<h2 class="mb-1 mt-5 text-center">
    Install pornhub.tracking.exposed browser extension
</h2>
<div class="row mb-5">
    <div class="col-6 text-center">
        <a href="/bin/pornhubtrackingexposed-0.2.5-an+fx.xpi">
           <div class="icon-big firefox-icon"></div><br />
        </a>
        <b>for Firefox browser</b> - which we suggest!
    </div>
    <div class="col-6 text-center">
        <a target="_blank" href="https://chrome.google.com/webstore/detail/potrex/opdgglojgcnjmpncchhfanbojjjopnnk">
            <div class="icon-big chrome-icon"></div><br />
        </a>
        <b>for Chrome or <a href="https://brave.com" target=_blank>Brave</a>.</b>
    </div>
</div>
