{{ $leftpict := .Get "leftpict" }}
{{ $lefttitle := .Get "lefttitle" }}
{{ $hover := .Get "hover" }}
{{ $rightcontent := .Get "rightcontent" }}
{{ $textstyle := .Get "textstyle" }}
{{ $leftId := .Get "leftId" }}

<div class="row">
  <h3 class="m-0">{{$lefttitle}}</h3>
  <div class="col-sm-8">
    {{ if $leftId }}
      <div id="{{$leftId}}"></div>
    {{ else }}
      <img width="100%" src={{ $leftpict }}>
    {{ end }}
  </div>
  <div class="col-sm-4">
    <p style={{$textstyle}}>{{ $rightcontent }}</p>
  </div>
</div>