{{ $nature := .Get "nature" }}
{{ $title:= .Get "title" }}
{{ $when := .Get "when" }}
{{ $description := .Get "description" }}
{{ $href := .Get "href" }}
{{ $kind := .Get "kind" }}
{{ $author := .Get "author" }}
{{ $authors := .Get "authors" }}
{{ $authorLink := .Get "authorLink" }}
{{ $language := .Get "language" }}

{{ $resource1 := .Get "resource1" }}
{{ $resource1href := .Get "resource1href" }}
{{ $resource2 := .Get "resource2" }}
{{ $resource2href := .Get "resource2href" }}

<div class="row resource rounded">
    <header class="resource-header col-12 border-bottom">
        <div class="row">
            <p class="mb-0">
                {{ if $kind }}
                    <small><span class="badge badge-info text-capitalize">{{ $kind }}</span></small>
                {{ end }}
                {{ if eq $nature "external" }}
                    <span class="badge badge-warning"><i>Extrenal resource</i></span>
                {{ end }}
                {{ if $author }}
                    {{ if eq $nature "external" }}
                    <small>Author: <span class="badge badge-light"><a href="{{ $authorLink }}" target="_blank">{{ $author }}</a></span></small>
                    {{ else }}
                    <small>Opinion piece by: <span class="badge badge-light" >{{ $author }}</span></small>
                    {{ end }}
                {{ end }}
                {{ if $when }}<small>Published in: <span class="badge badge-light">{{ $when }}</span></small>{{ end }}
                {{ if $language}}<small>Language: <span class="badge badge-light">{{ $language }}</span></small>{{ end }}
            </p>
        </div>
    </header>
    <div class="resource-body col-12">
        <h3 class="mb-3 mt-3">
            <a href="{{ $href }}" target=_blank>
                {{ if $kind }}<span class="kind {{ $kind }}"></span>{{ end }}
                {{ $title }}
            </a>
        </h3>
        {{ if $description }}
            <p class="mb-1">
                {{ $description }}
            </p>
        {{ end }}
        {{ if $authors }}
            <p class="mb-1">
                <small>Authors: <i>{{ $authors }}</i></small>
            </p>
        {{ end }}
        {{ if $resource1 }}
            <p class="mb-1">
                <small>
                  <b>See also:</b> <a href="{{ $resource1href }}" target="_blank">{{ $resource1 }}</a>
                  {{ if $resource2 }} — 
                    <a href="{{ $resource2href }}" target="_blank">{{ $resource2 }}</a>
                  {{ end }}
                </small>
            </p>
        {{ end }}
    </div>
</div>
