<div class="container row text-center">
    <div class="col-3">
        <button type="button" class="btn btn-light">Compare Videos</button>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-light">Compare Homepage</button>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-light">by Content producer</button>
    </div>
    <div class="col-3 text-left">
        <p><b>Join</b> by <a href="/preview">installing ytTREX</a>.</p>
    </div>
</div>
<hr/>
