<div class="container row text-center">
    <div class="col-3">
        <a href="/compare" role="button" class="btn btn-light">Compare Videos</a>
    </div>
    <div class="col-3">
        <a href="/hompare" role="button" class="btn btn-light">Compare Homepage</a>
    </div>
    <div class="col-3">
        <a href="/author" role="button" class="btn btn-light">by Content producer</a>
    </div>
    <div class="col-3">
        <a href="/sunnyhack" role="button" class="btn btn-light"><b>Sunnyhack</b> (alpha)</a>
    </div>
</div>
<hr/>