<h3 class="mb-1 mt-5 text-center">
  Install tiktok observatory version 0.2.3 (alpha)
</h3>

<div class="row mb-5">
  <div class="col-6 text-center">
    <a
      href="https://chrome.google.com/webstore/detail/triktroktrex/bigbeiocbgkhndacjnkklogbilfchijf?hl=it&authuser=0"
      target="_blank">
      <div class="icon-big chrome-icon"></div>
      <br/>
    </a>
    <b>
      for Chrome, <a
        href="https://brave.com"
        target="_blank">
        Brave
      </a>, and Edge.
    </b>
  </div>

  <div class="col-6 text-center">
    <a
      href="https://addons.mozilla.org/en-US/firefox/addon/triktroktrex/"
      target="_blank">
      <div class="icon-big firefox-icon"></div>
      <br/>
    </a>
    <b>for Firefox</b>
  </div>
</div>
