<div class="row">
  <div class="col-4">
    <p>Install the extension — version: 
      <code>{{ .Get "version" }} </code>
    </p>
  </div>

  <div class="col-1"></div>

  <div class="col-3">
    <a class="extension-button" title="Add to Chrome" 
      href="https://chrome.google.com/webstore/detail/triktroktrex/bigbeiocbgkhndacjnkklogbilfchijf?hl=it&authuser=0"
      target="_blank"
      rel="noopener noreferrer">
      Chrome
      <img src="/images/browsers/chrome.png">
    </a>
  </div>

  <div class="col-3">
    <a class="extension-button" title="Add to Chrome" 
      href="https://addons.mozilla.org/en-US/firefox/addon/triktroktrex/"
      target="_blank"
      rel="noopener noreferrer">
      Firefox 
      <img src="/images/browsers/firefox.png">
    </a>
  </div>

</div>