<style type="text/css" media="screen">

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.extension-button img {
  height: 25px;
  margin-top: -5px;
  margin-left: 5px;
  transition: all 0.2s;
}

.extension-button {
  padding: 0.5em 1em 0.5em 1em;
  font-size: 18px;
  background-image: none;
  background-color: #ee1d52;
  color: white !important;
  border-radius: 4px;
  font-weight: 900;
  border: none;
}

a:hover.extension-button {
  padding: 0.5em 1em 0.5em 1em;
  font-size: 18px;
  background-color: #69c9d0;
  color: white;
  border: none !important;
  border-radius: 4px;
  font-weight: 900;
}

</style>

<div class="row vertical-align mt-5">
  <div class="col-md-4 col-xs-4 mt-3">
    <h4>Install the browser extension — version:
      <code>{{ .Get "version" }} </code>
    </h4>
  </div>

  <div class="col-md-3 col-xs-4 mt-3 aligner">
    <a class="extension-button" title="Add to Chrome"
      href="https://chrome.google.com/webstore/detail/triktroktrex/bigbeiocbgkhndacjnkklogbilfchijf"
      target="_blank"
      rel="noopener noreferrer">
      Chrome
      <img src="/images/browsers/chrome.png">
    </a>
  </div>
  <div class="col-md-3 col-xs-4 mt-3 aligner">
    <a class="extension-button" title="Add to Chrome"
      href="https://addons.mozilla.org/en-US/firefox/addon/triktroktrex/"
      target="_blank"
      rel="noopener noreferrer">
      Firefox
      <img src="/images/browsers/firefox.png">
    </a>
  </div>
  <div class="col-3"></div>

</div>
