<h3 class="mb-1 mt-5 text-center">
    Install tiktok observatory (Not available for not-researchers, at the moment)
</h3>
<div class="row mb-5">
    <div class="col-6 text-center"
	 style="-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);cursor:not-allowed">
        <a href="https://addons.mozilla.org/" target="_blank"
	 style="-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);cursor:not-allowed">
           <div class="icon-big firefox-icon"></div><br />
        </a>
        <b>for Firefox</b>
    </div>
    <div class="col-6 text-center"
	 style="-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);cursor:not-allowed">
        <a target="_blank" href="https://chrome.google.com/webstore/"
	 style="-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);cursor:not-allowed">
            <div class="icon-big chrome-icon"></div><br />
        </a>
        <b>for Chrome, <a href="https://brave.com" target=_blank>Brave</a>, and Edge.
    </div>
</div>

