{{ $desc := .Get "desc" }}
{{ $href := .Get "href" }}
{{ $suffix := .Get "suffix" }}
{{ $bgcolor := .Get "bgcolor" }}
{{ $disabled := .Get "disabled" }}

<div class="card mb-3 text-center" {{ if $disabled }} style="background-color:{{ $bgcolor }}; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); cursor:not-allowed" {{ end }}>
  <div style="background-color:{{ $bgcolor }}; padding: 0.5em;">
    <a
      href="{{ $href }}"
      target=_blank
      {{ if $disabled }} style="background-color:{{ $bgcolor }}; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); cursor:not-allowed" {{ end }}
    >
      <img src="/images/header-logo-{{$suffix}}" class="card-img-top" alt="...">
    </a>
  </div>
  <div class="card-body">
    <a
      target=_blank
      href="{{ $href }}"
      class="card-link">
      {{ if $disabled }} style="background-color:{{ $bgcolor }}; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); cursor:not-allowed" {{ end }}
      <!-- <h4 class="card-title">title</h4> -->
      <p
        style="color: black"
        class="card-text text-left">{{$desc}}</p>
    </a>
  </div>
</div>
