{{ $desc := .Get "desc" }}
{{ $href := .Get "href" }}
{{ $suffix := .Get "suffix" }}
{{ $bgcolor := .Get "bgcolor" }}

<div class="card mb-3 text-center">
  <div style="background-color:{{ $bgcolor }}; padding: 0.5em;">
    <img src="/images/header-logo-{{$suffix}}" class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <a target=_blank href="{{ $href }}" class="card-link">{{$href}} →<a>
    <!-- <h4 class="card-title">title</h4> -->
    <p class="card-text">{{$desc}}</p>
  </div>
</div>
