<h2 class="mb-1 mt-5 text-center">
    Install youtube.tracking.exposed browser extension
</h2>
<div class="row mb-5">
    <div class="col-6 text-center">
        <a target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/yttrex/">
           <div class="icon-big firefox-icon"></div><br />
            <b>for Firefox browser</b>
        </a>
    </div>
    <div class="col-6 text-center">
        <a target="_blank" href="https://chrome.google.com/webstore/detail/yttrex/kbbgjcgdcibilpahljnlejefcehbljnd">
            <div class="icon-big chrome-icon"></div><br />
            <b>for Chrome or Brave</b>
        </a>
    </div>
</div>

